.LoginForm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 3rem;
}

.LoginForm-container > span {
    position: relative;
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    bottom: 6rem;
    left:23.5rem;
}

.loginuser-form {
    display: flex;
    position: relative;
    top: 14.5rem;
    right: 5.5rem;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0;
    background-color: var(--darkgray);
    padding: 1rem 2rem;
    width: 50%;
    margin-bottom: 8rem;
    justify-content: center;
   
}

.loginuser-form > label {
    color: white;
    font-weight: bold;
}

.loginuser-form > input,
.loginuser-form > textarea {
    background-color: gray;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 100%; /* Ensure inputs and textarea take full width */
    padding: 0.5rem; /* Adjust padding for better appearance */
     /* Align text to center */
}

.loginuser-form > input:hover,
.loginuser-form > textarea:hover {
    cursor: pointer;
}

.loginuser-form > textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
}

::placeholder {
    color: var(--darkgray);
}

.btn-loginform {
    background-color: var(--orange);
    color: white;
    width: 10rem;
    border-radius: 10px;
    position: relative;
    top:2rem;
    left:17rem;
    margin-bottom: 220px;
    
}
.btn-loginback{
    background-color: var(--orange);
    color: white;
    width:6rem;
    border-radius: 10px;
    flex-direction: flex;
    position: relative;
    bottom: 12rem;
    right: 3rem;
   
}

@media screen and (max-width : 768px){
    .LoginForm-container>span{
        position: relative;
        font-size: 3rem;
        bottom: 16rem;
        left:7.5rem;
    }
    .loginuser-form{
        right:8.5rem
    }
}